.animation_chegada {
  opacity: 0; /* Inicialmente, o elemento está oculto */
  animation: fade-in 1s ease-in-out forwards; /* Aplica a animação */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Desloca o elemento para baixo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Retorna o elemento à sua posição original */
  }
}

.titulo_MinhasExperiencias {
  text-align: center;
  margin: 2em 0 1em 0;
  color: dodgerblue;
  font-family: "Krona One", sans-serif;
}

#card {
  background-color: transparent;
  border: 0.2px solid gray;
  margin: auto;
  color: white;
  width: 30rem;
}

#TituloCard {
  color: #194eb8;
  font-size: 30px;
}

.card-img-top {
  width: 90%;
  margin: 5px auto;
}

.DataDeTrabalho {
  font: 900;
  font-size: 17px;
  background-color: #dc3545;
  width: 50%;
  margin: 1em 0 1em 1em;
  border-radius: 10px;
  padding: 0 2em;
}

#SobreTitulo_card {
  color: #dc3545;
  margin: 2em 0;
}

b {
  color: dodgerblue;
}

.container_conhecimento {
  margin: 10em 0;
}

.titulo_conhecimentos {
  text-align: center;
  margin: 50px 0;
  color: dodgerblue;
  font-family: "Krona One", sans-serif;
}

.abilidades {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.ListaDeAbilidade {
  font-size: 25px;
  color: white;
  margin: 1em 2em;
  background-color: dodgerblue;
  text-align: center;
  padding: 16px 2em;
  border-radius: 10px;
  list-style-type: none;
  transition: transform 0.5s;
}

.ListaDeAbilidade:hover {
  transform: translate(0, -0.6rem);
}

.container_conhecimento_celular {
  display: none;
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .abilidades {
    gap: 1em;
  }

  .ListaDeAbilidade {
    margin: 1em 0;
    padding: 10px 1em;
  }
}

@media (max-width: 600px) {
  #card {
    width: 90%;
  }

  .DataDeTrabalho {
    background-color: #dc3545;
    margin: 1em auto;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    padding: 0 1em;
  }

  .ListaDeAbilidade {
    display: grid;
  }

  .container_conhecimento {
    display: none;
  }

  .container_conhecimento_celular {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 3em 1.5em 0 0;
  }

  .ListaDeAbilidade_celular {
    color: white;
    width: 50%;
    font-size: 17px;
    margin: 1em;
    padding: 1em 2em;
    background-color: dodgerblue;
    text-align: center;
    border-radius: 10px;
    list-style-type: none;
  }

  .ul_celular {
    display: flex;
  }
}
