.div_fileira {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2em;
}

.container {
    width: 100%;
}

@media (max-width: 1200px) { 
    .div_fileira {
        display: block;
    }
    .container {
        width: 100%;
    }
 }