@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap"); /*  fonte que baixei */


* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../src/img/imagem_fundo_projetos.jpg");
  color: white;
  font-family: "Montserrat", sans-serif;
}



:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;
}
/* armazenar uma cor na variavel */

